.mainMenu {
  font-family: "Inter", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.mainMenu__item {
  display: inline;
  margin-right: 1rem;
}

.mainMenu__link {
  color: #000;
  text-decoration: none;
}

.mainMenu__link:hover,
.mainMenu__link[aria-current="page"] {
  text-decoration: underline;
}

@media (min-width: 780px) and (min-height: 630px) {
  .mainMenu__item {
    display: block;
    margin: 0 0 1rem 0;
  }

  .mainMenu {
    margin: 2rem 0 0 0;
  }
}
