.site-title {
  font-family: var(--font-display);
  font-size: var(--font-size-xxl);
  font-weight: 900;
  line-height: var(--letter-spacing-heading);
  text-decoration: none;
  letter-spacing: -0.05rem;
  margin-bottom: var(--spacing-half);
}

.social {
  display: none;
}

@media screen and (min-width: 48.75rem) and (min-height: 39rem) {
  .header {
    margin-right: var(--spacing-double);
    max-width: 200px;
  }

  .social {
    display: block;
  }
}
