@media screen and (min-width: 48.75rem) and (min-height: 39rem) {
  .site-wrapper {
    display: flex;
  }
  .main {
    margin: 0 auto;
    min-height: 600px;
    min-height: calc(80vh - 3rem);
  }
}
