@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2?v=3.12") format("woff2"),
    url("../fonts/Inter-Regular.woff?v=3.12") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2?v=3.12") format("woff2"),
    url("../fonts/Inter-ExtraBold.woff?v=3.12") format("woff");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  color: #333;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
}

body {
  margin: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.1;
  color: #000;
}

h1 {
  /* 28px */
  font-size: 1.75rem;
  margin: 1.5rem 0;
}

h2 {
  /* 22 */
  font-size: 1.375rem;
  margin: 1.5rem 0 0.5rem 0;
}

h3 {
  /* 18 */
  font-size: 1.125rem;
}

h4 {
  /* 16 */
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

h2 + p,
h3 + p,
h4 + p,
h5 + p,
p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

a {
  color: #0047ff;
}

@media (min-width: 500px) {
  html {
    /* 20px */
    font-size: 125%;
  }

  h1 {
    /* 36px */
    font-size: 1.8rem;
  }

  h2 {
    /* 28 */
    font-size: 1.4rem;
  }

  h3 {
    /* 24 */
    font-size: 1.2rem;
  }
}

@media (min-width: 780px) {
  body {
    margin: 1.5rem;
  }
}
